* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

div {
    outline-color: black;
    outline-style: inset;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#calculator {
    width: 600px;
    height: 600px;
    background-color: lightgray;
    outline-color: black;
    outline-style: inset;
    border-radius: 10px;
}

/* screen */

#screen {
    width: auto;
    height: 150px;
    background-color: gray;
    border-radius: 15px;
}

#history {
    width: auto;
    height: 50%;
}

#history > h2 {
    padding: 20px;
    font-weight: 100;
    color: white;
}

#output {
    width: auto;
    height: 50%;
    text-align: right;
}

#output > h1 {
    padding: 20px;
    color: rgb(255, 255, 255);
}

/* action */

#action {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10px;
}

.clear {
    padding: 10px;
    border-radius: 20px;
}

#input {
    width: auto;
    height: 400px;
    display: flex;
}

#numbers {
    width: 60%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#numbers > button {
    margin: 10px;
    width: 25%;
    height: 20%;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
}

#operators {
    width: 40%;
    height: 400px;
}